[Unit]
Description=Synora Event Bus
After=network.target

[Service]
Type=simple

User=synora
Group=synora

ExecStart=/opt/synora/bin/synora-bus

Restart=always
RestartSec=2
TimeoutStopSec=15s
KillMode=mixed
UMask=0077

NoNewPrivileges=true

RuntimeDirectory=synora
RuntimeDirectoryMode=0770

LimitNOFILE=4096
TasksMax=128

[Install]
WantedBy=multi-user.target
