[Unit]
Description=Synora Web Service (UI + Nginx Reverse Proxy)
After=network.target nginx.service
Wants=network.target

[Service]
Type=simple

User=synora
Group=synora

WorkingDirectory=/var/lib/synora

ExecStart=/var/lib/synora/bin/synora-web

Restart=always
RestartSec=2

# sécurité
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true

# logs
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
